@font-face {font-family: 'iconfont';
  src: url('../icon/iconfont.woff') format('woff'), /* chrome、firefox */
  url('../icon/iconfont.ttf') format('truetype'); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}

.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.intro{
  -webkit-animation-name: FADEY;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
}

header[role="banner"]{
  padding-top: 16%;
  padding-left: 25%;

  h1{
    font-size: 4.8rem;
    line-height: 0.8;
    color: #182e4f;
    letter-spacing: 0;
    font-weight: 900;
    position: relative;

    &::after{
      content: "MADE CLF";
      font-size: 1.4rem;
      letter-spacing: 0.5rem;
      position: absolute;
      top: -50%;
      right: 40%;
      color: rgba(24, 46, 79, 0.4);
    }
  }

  h2{
    font-weight: 400;
    text-align: left;
    letter-spacing: 0;
    position: absolute;
    left: 75%;
    color: rgba(41, 78, 134, 0.5);
    top: 10rem;
  }
}

.summary{
  -webkit-opacity: 0;
  -webkit-animation-name: FADEY;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
  padding: 5% 30%;
  text-align: right;
  position: relative;

  p{
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 1.8rem;
    line-height: 1.6;
  }

  p.icon{
    text-align: center;
    width: 80%;
    margin-top: 2rem;
    a{
      margin-left: 24%;
      text-decoration: none;
      font-size: 2.4rem;
      &:nth-child(1){
        color: #097293;
      }
      &:nth-child(2){
        color: #009a80;
      }
      &:nth-child(3){
        color: #8a6343;
      }
      &:nth-child(4){
        color: #006600;
      }
    }
  }
}

.side{
  padding-top: 10rem;
  background: transparent url("../images/side.png") no-repeat center;
}




/*-------------------------------------------
	Animations
-------------------------------------------*/

@-webkit-keyframes FADEY {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
